<style>
    /* Hide scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
.hideScroll::-webkit-scrollbar {
  display: none;
 
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hideScroll {
  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;
}
</style>
<section class=" max-h-screen bg-gray-50 overflow-hidden">
  <!-- Side Bar -->
  <app-admin-side-bar />
  <!-- End Side Bar -->

  <!-- Content -->
  <main class=" w-[calc(100%-3.5rem)] ml-auto max-h-screen flex flex-col">
    <app-navbar />
    <div class="p-8 w-full flex flex-row min-h-screen gap-8">
      <section class="hideScroll w-full overflow-y-auto pb-20">
        <ng-content select="[admin-content]"></ng-content>
      </section>
      <search-bar></search-bar>
    </div>
  </main>
  <!-- End Content -->
</section>
