<style>
  /* Hide scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
  .hideScroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .hideScroll {
    /* IE and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;
  }
</style>

<ng-container *ngIf="company; else notEnabled">
  <section
    *ngIf="company.enabled"
    class="max-h-screen bg-gray-50 overflow-hidden"
  >
    <!-- Side Bar -->
    <app-admin-side-bar />
    <!-- End Side Bar -->

    <!-- Content -->
    <main class="w-[calc(100%-3.5rem)] ml-auto max-h-screen flex flex-col">
      <app-navbar />
      <div class="px-8 py-6 w-full flex flex-row min-h-screen gap-8">
        <section class="hideScroll w-full overflow-y-auto pb-20">
          <ng-content select="[admin-content]"></ng-content>
        </section>
        <ng-content selct="[search-bar]"></ng-content>
      </div>
    </main>
    <!-- End Content -->
  </section>

  <section
    *ngIf="!company.enabled"
    class="w-full h-full flex flex-col gap-4 items-center justify-center bg-50"
  >
    <div
      class="w-1/3 h-56 bg-white rounded-lg shadow-lg flex flex-col items-center justify-center gap-5"
    >
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-20 h-20 fill-red-500"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"
          />
        </svg>
      </div>
      <div class="text-lg">You Account is not verified</div>
      <!-- <a class="text-white p-2 bg-purple-600 rounded-md">Send Link</a> -->

      <span class="text-gray-500"> Check your email </span>
    </div>
    <a
      [routerLink]="['/company/auth/login']"
      class="group flex items-center p-1 text-white cursor-pointer"
    >
      <div class="flex items-center justify-center rounded p-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-red-500 group-hover:text-red-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"
          />
        </svg>
      </div>
      <span class="text-red-500 group-hover:text-red-600">Log Out</span>
    </a>
  </section>
</ng-container>

<ng-template #notEnabled>
  <section
    class="w-full h-full flex flex-col gap-4 items-center justify-center bg-50"
  >
    <div
      class="w-1/3 h-56 bg-white rounded-lg shadow-lg flex flex-col items-center justify-center gap-5"
    >
      <div></div>
      <div class="text-lg">No Company is Authenticated</div>
      <!-- <a class="text-white p-2 bg-purple-600 rounded-md">Send Link</a> -->
    </div>
  </section>
</ng-template>
